
data/ml-latest/ml-latest/genome-scores.csv
data/ml-latest/ml-latest/genome-tags.csv
data/ml-latest/ml-latest/links.csv
data/ml-latest/ml-latest/movies.csv
data/ml-latest/ml-latest/ratings.csv
data/ml-latest/ml-latest/README.txt
data/ml-latest/ml-latest/tags.csv
data/ml-latest.zip
build/*
src/movie_recommendations_system.egg-info/*
src/movie_recommender_system.egg-info/*
data/ml-100k/allbut.pl
data/ml-100k/mku.sh
data/ml-100k/README
data/ml-100k/u.data
data/ml-100k/u.genre
data/ml-100k/u.info
data/ml-100k/u.item
data/ml-100k/u.occupation
data/ml-100k/u.user
data/ml-100k/u1.base
data/ml-100k/u1.test
data/ml-100k/u2.base
data/ml-100k/u2.test
data/ml-100k/u3.base
data/ml-100k/u3.test
data/ml-100k/u4.base
data/ml-100k/u4.test
data/ml-100k/u5.base
data/ml-100k/u5.test
data/ml-100k/ua.base
data/ml-100k/ua.test
data/ml-100k/ub.base
data/ml-100k/ub.test
data/ml-latest/genome-scores.csv
data/ml-latest/genome-tags.csv
data/ml-latest/links.csv
data/ml-latest/movies.csv
data/ml-latest/new_ratings.csv
data/ml-latest/ratings.csv
data/ml-latest/README.txt
data/ml-latest/tags.csv
movie_recommender_system.egg-info/PKG-INFO
movie_recommender_system.egg-info/requires.txt
movie_recommender_system.egg-info/SOURCES.txt
preprocessed_data_100k/ml100k_item_10_cosine.pkl
preprocessed_data_100k/ml100k_item_10_dice.pkl
preprocessed_data_100k/ml100k_item_10_jaccard.pkl
preprocessed_data_100k/ml100k_item_10_pearson.pkl
preprocessed_data_100k/ml100k_item_1_cosine.pkl
preprocessed_data_100k/ml100k_item_1_dice.pkl
preprocessed_data_100k/ml100k_item_1_jaccard.pkl
preprocessed_data_100k/ml100k_item_1_pearson.pkl
preprocessed_data_100k/ml100k_item_2_cosine.pkl
preprocessed_data_100k/ml100k_item_2_dice.pkl
preprocessed_data_100k/ml100k_item_2_jaccard.pkl
preprocessed_data_100k/ml100k_item_2_pearson.pkl
preprocessed_data_100k/ml100k_item_3_cosine.pkl
preprocessed_data_100k/ml100k_item_3_dice.pkl
preprocessed_data_100k/ml100k_item_3_jaccard.pkl
preprocessed_data_100k/ml100k_item_3_pearson.pkl
preprocessed_data_100k/ml100k_item_4_cosine.pkl
preprocessed_data_100k/ml100k_item_4_dice.pkl
preprocessed_data_100k/ml100k_item_4_jaccard.pkl
preprocessed_data_100k/ml100k_item_4_pearson.pkl
preprocessed_data_100k/ml100k_item_5_cosine.pkl
preprocessed_data_100k/ml100k_item_5_dice.pkl
preprocessed_data_100k/ml100k_item_5_jaccard.pkl
preprocessed_data_100k/ml100k_item_5_pearson.pkl
preprocessed_data_100k/ml100k_item_6_cosine.pkl
preprocessed_data_100k/ml100k_item_6_dice.pkl
preprocessed_data_100k/ml100k_item_6_jaccard.pkl
preprocessed_data_100k/ml100k_item_6_pearson.pkl
preprocessed_data_100k/ml100k_item_7_cosine.pkl
preprocessed_data_100k/ml100k_item_7_dice.pkl
preprocessed_data_100k/ml100k_item_7_jaccard.pkl
preprocessed_data_100k/ml100k_item_7_pearson.pkl
preprocessed_data_100k/ml100k_item_8_cosine.pkl
preprocessed_data_100k/ml100k_item_8_dice.pkl
preprocessed_data_100k/ml100k_item_8_jaccard.pkl
preprocessed_data_100k/ml100k_item_8_pearson.pkl
preprocessed_data_100k/ml100k_item_9_cosine.pkl
preprocessed_data_100k/ml100k_item_9_dice.pkl
preprocessed_data_100k/ml100k_item_9_jaccard.pkl
preprocessed_data_100k/ml100k_item_9_pearson.pkl
preprocessed_data_100k/ml100k_user_10_cosine.pkl
preprocessed_data_100k/ml100k_user_10_dice.pkl
preprocessed_data_100k/ml100k_user_10_jaccard.pkl
preprocessed_data_100k/ml100k_user_10_pearson.pkl
preprocessed_data_100k/ml100k_user_1_cosine.pkl
preprocessed_data_100k/ml100k_user_1_dice.pkl
preprocessed_data_100k/ml100k_user_1_jaccard.pkl
preprocessed_data_100k/ml100k_user_1_pearson.pkl
preprocessed_data_100k/ml100k_user_2_cosine.pkl
preprocessed_data_100k/ml100k_user_2_dice.pkl
preprocessed_data_100k/ml100k_user_2_jaccard.pkl
preprocessed_data_100k/ml100k_user_2_pearson.pkl
preprocessed_data_100k/ml100k_user_3_cosine.pkl
preprocessed_data_100k/ml100k_user_3_dice.pkl
preprocessed_data_100k/ml100k_user_3_jaccard.pkl
preprocessed_data_100k/ml100k_user_3_pearson.pkl
preprocessed_data_100k/ml100k_user_4_cosine.pkl
preprocessed_data_100k/ml100k_user_4_dice.pkl
preprocessed_data_100k/ml100k_user_4_jaccard.pkl
preprocessed_data_100k/ml100k_user_4_pearson.pkl
preprocessed_data_100k/ml100k_user_5_cosine.pkl
preprocessed_data_100k/ml100k_user_5_dice.pkl
preprocessed_data_100k/ml100k_user_5_jaccard.pkl
preprocessed_data_100k/ml100k_user_5_pearson.pkl
preprocessed_data_100k/ml100k_user_6_cosine.pkl
preprocessed_data_100k/ml100k_user_6_dice.pkl
preprocessed_data_100k/ml100k_user_6_jaccard.pkl
preprocessed_data_100k/ml100k_user_6_pearson.pkl
preprocessed_data_100k/ml100k_user_7_cosine.pkl
preprocessed_data_100k/ml100k_user_7_dice.pkl
preprocessed_data_100k/ml100k_user_7_jaccard.pkl
preprocessed_data_100k/ml100k_user_7_pearson.pkl
preprocessed_data_100k/ml100k_user_8_cosine.pkl
preprocessed_data_100k/ml100k_user_8_dice.pkl
preprocessed_data_100k/ml100k_user_8_jaccard.pkl
preprocessed_data_100k/ml100k_user_8_pearson.pkl
preprocessed_data_100k/ml100k_user_9_cosine.pkl
preprocessed_data_100k/ml100k_user_9_dice.pkl
preprocessed_data_100k/ml100k_user_9_jaccard.pkl
preprocessed_data_100k/ml100k_user_9_pearson.pkl
